
  <div id="app-restaurantelista">
    <li *ngIf="cargando" class="cargandose">
        <img
        src="../../assets/images/point.gif">
    </li>
    <div *ngFor="let restaurante of restaurantes">
      <div class="opcion bxshadow">
        <div class="imagen">
          <img
          src="http://localhost/phpMyAdmin/api-rest/uploads/{{restaurante.imagen}}"
          *ngIf="restaurante.imagen && restaurante.imagen !== 'null'"/>
        </div>
          <h3> {{restaurante.nombre}} </h3>
        <div>
          <p> {{restaurante.direccion}}</p>
          <button
            [routerLink]="['restaurante', restaurante.id]"
            type="button"
            class="btn btn-info"
          > ver </button>
          <button
            type="button"
            class="btn btn-light"
            [routerLink]="['edita-restaurante', restaurante.id]"
          > editar </button>
          <button
          type="button"
          class="btn btn-danger"
          (click)="borrarRestaurante(restaurante.id)"
          > X </button>
        </div>
      </div>
    </div>
  </div>
