@import url('https://fonts.googleapis.com/css?family=Roboto');

#header {
  background: #d1f2eb;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
header {
  display: flex;
  color:  #2874a6;
  font-family: 'Roboto';
  font-size: 20px;
  vertical-align: text-top;
  
}

header h2 {
  margin-top: 30px;
  padding-left: 20px;
}
.navbar {
  display:flex;
  overflow: hidden;
}
.navbar ul li {
  
}
.navbar ul li:hover, :active :focus{
  border-style: none;
  background:  #283747;
  color: #fff;
  font-size: 17px;
  border-radius: 5px;
}
.menu {
  margin-top: 0%;
}
