<div class="opcion">
  <h4>{{untitulo}}</h4>
  <form #formaRestaurante="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label> Nombre </label>
      <input 
      type="text" 
      class="form-control" 
      #nombre="ngModel"
      name="nombre"
      [(ngModel)]="restaurante.nombre"
      placeholder="Nombre.."
      minlength="3"
      required
      >
      <span *ngIf="!nombre.valid">El nombre es obligatorio</span>
    </div>
    <div class="form-group">
      <label> Dirección </label>
      <input 
      type="text" 
      class="form-control" 
      #direccion="ngModel"
      name="direccion"
      [(ngModel)]="restaurante.direccion"
      placeholder="Dirección.." 
      minlength="5"
      required
      >
      <span *ngIf="!direccion.valid">La dirección es obligatorio</span>
      <br>
    </div>
    <div class="form-group">
      <label> Descripción </label>
      <textarea 
      type="text" 
      class="form-control" 
      #direccion="ngModel"
      name="descripcion"
      [(ngModel)]="restaurante.descripcion"
      placeholder="Descripción.." 
      minlength="5"
      required
      ></textarea>
      <span *ngIf="!direccion.valid">La dirección es obligatoria</span>
      <br>
    </div>
    <p>
        <select (change)="llamarPrecio(precio.value)" #precio name="precio">
          <option value="bajo" [attr.selected]="restaurante.precio === 'bajo' ? 'selected' : null">Bajo</option>
          <option value="regular" [attr.selected]="restaurante.precio === 'regular' ? 'selected' : null">Regular</option>
          <option value="alto" [attr.selected]="restaurante.precio === 'alto' ? 'selected' : null">Alto</option>
        </select>
    </p>
    <button
      type="submit"
      class="btn btn-outline-secondary"
      [disabled]="!formaRestaurante.form.valid"
      > editar restaurante</button>
  </form>
</div>
